body {
    display: grid;
    grid-template-rows: 50px, repeat(6, 1fr);
    grid-template-areas:
    "hed"
    "row1"
    "row2"
    "test-header"
    "testimonials"
    "orange-row"
    "footer";
}

header {
    grid-area: hed;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas:
    "logo nav button";
    
}

    body > header > img {
        grid-area: logo;
    }

    body > header > nav {
        grid-area: nav;
    }

    body > header > a {
        grid-area: button;

    }


main > .row1 {
    grid-area: row1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "row1-text row1-image";
}

    main > .row1 > .row1-image {
        grid-area: row1-image;
        /* height: 500px; */
    } 

    main > .row1 > .row1-text {
        grid-area: row1-text;
    } 

main > .row2 {
    grid-area: row2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "row2-text1 row2-text2";
}
    main > .row2 > .row2-text1 {
        grid-area: row2-text1;
    }

    main > .row2 > .row2-text2 {
        grid-area: row2-text2;
    }

main > .testimonials-row > .testimonials-header {
    grid-area: test-header;
}
main > .testimonials-row > .testimonials {
    grid-area: testimonials;
    display: grid;
    grid-template-columns: reapeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
    "test1 test2 test3";
}
    main > .testimonials-row > .testimonials > .testimonial1 {
        grid-area: test1;
    }

    main > .testimonials-row > .testimonials > .testimonial2 {
        grid-area: test2;
    }

    main > .testimonials-row > .testimonials > .testimonial3 {
        grid-area: test3;
    }

main > .orange-row {
    grid-area: orange-row;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
    "orange-text orange-button";
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr), 1.5fr;
    grid-template-areas:
    "foot1 foot2 foot3 foot4";
}

@media (max-width: 960px) {
    header {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-areas:
        "logo nav";

    }   

        body > header > #header-button {
            display: none;
        }

        footer {
            grid-template-columns: repeat(3, 1fr);
        }

        footer > .foot1 > img {
            grid-column-start: 1;
            grid-column-end: two;
            grid-row-start: row0-start;
            grid-row-end: 1;
        }

        footer > .foot4 {
            grid-column-start: 2;
            grid-column-end: four;
            grid-row-start: row0-start;
            grid-row-end: 1;
            
        }

        footer > .foot2 {
            grid-column-start: 1;
            grid-column-end: two;
            grid-row-start: row1-start;
            grid-row-end: 2;
        }

        footer > .foot3 {
            grid-column-start: 2;
            grid-column-end: three;
            grid-row-start: row1-start;
            grid-row-end: 2;
        }


}

@media (max-width: 800px) {

    main > .row1 {
        grid-template-columns: 1fr;
        grid-template-areas:
        "row1-image"
        "row1-text";
    }

    main > .row2 {
        grid-template-columns: 1fr;
        grid-template-areas:
        "row2-text1"
        "row2-text2";
    }

    main > .testimonials-row > .testimonials {
        grid-template-columns: 1fr;
        grid-template-areas:
        "test1"
        "test2"
        "test3";
    }

    main > .orange-row {
        grid-template-columns: 1fr 1fr;
    }

    /* footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
        "form"
        "foot2"
        "foot3"
        "socials"
        "image"
        "copy"
    }
        footer > .foot4 > .form {
            grid-column-start: 1;
            grid-column-end: two;
            grid-row-start: row0-start;
            grid-row-end: 2;
        }

        footer > .foot1 > img {
            grid-column-start: 1;
            grid-column-end: two;
            grid-row-start: row4-start;
            grid-row-end: 5;
        } */
}


